html {
    background-color: white;
 
}

body {
    margin: 0 auto;
    height: 300vh;
    padding: 0;
    font-family: poppins;
}

header {
    width: 100%;
    height: 500px;
}


main {
    width: auto;
    height: 400px;

}

.nav {
    background-color: rgba(255,255,255,1);
    position: sticky;
    top: 0;
    margin-bottom: 100px;
    z-index: 3;
}


.nav ul, .nav li {
    top: 0;
    list-style: none;
    float: left;
    display: flex;
    align-items: center;
    line-height: 1;
    
}

.nav li a {
    display: block;
    padding: 0 2em;
    text-decoration: none;
    text-align: center;
    
}

.nav li a {
    font-family: 'Poppins';
    font-weight: 300;
    text-transform: uppercase;
    
}

.nav li a:link {
    color: #E5840C;


}

.nav li a:visited {
    color: #E5840C;
}
.nav li a:hover {
    color: #011BE5;
    font-family: playfair display;
    font-weight: 400;
    font-style: italic;
    text-transform: capitalize;

  
    
}

.dropdown {
    float: left;
    overflow: hidden;

}

.dropdown .dropbutton {
    font-size: inherit;
    border: none;
    background-color: inherit;
    font-family: poppins;
    text-transform: capitalize;
     
}


.dropbutton {
    display: flex;
    align-items: center;
}
    


.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, .2);
    z-index: 1;
    font-family:poppins;
    font-weight: 300;
    text-transform: uppercase;
}

.dropdown-content a:link {
    float: none;
    color: #011BE5;
    line-height: 2em;
    padding: .7em 2em;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:visited {
    color:#011BE5;

}
.dropdown-content a:hover {
    background-color: #E5840C;
    color: white;
    text-transform: capitalize;
    font-family: playfair display;
    font-style: italic;
}


.dropdown:hover .dropdown-content {
    display: block;

}

.bckg {
    background-image: url(images/bjkit.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-attachment: fixed;
   
    
}

.fade-img {
    position: relative;
   
    
}
.fade-img::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    height: 90%;
    
    
}

.divhead {
   margin: auto;
   width: 400px;
   height: 200px;
   border: 2px solid white;
   padding: 50px 50px 0 50px;
}

.header1 {
    font-family: roboto;
    font-size: 50px;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.header2 {
    font-family: roboto;
    font-size: 30px;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.button {
    background-color:#E5840C;
    border: none;
    position: relative;
    z-index: 2;
    color: white;
}

.landingpagetext {
    padding: 0px;
    text-align: center;
    vertical-align: middle;
    color: white;
}

.logo {
    float: left;
    display: block;
    width: 3%;
    padding: 0 50px;
}

.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}

.p {
    margin: 0 auto;
    color: #E5840C;
    position: relative;
    z-index: 4;
    text-align: center;
    padding-top: 5%;
    border-bottom: 2px sold white;
    font-weight: 500;
}

.horange {
    color: #E5840C;
    padding: 0px;
    text-align: center;
    vertical-align: middle;
}

.serif-ital {
    font-style: italic;
    color:#E5840C;
    font-family: playfair display;
    font-size: 58px;
    position: relative;
    z-index: 2;
    margin: 0 -15px;
    text-shadow: 2px 2px 9px #000000;
}

font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;