p {
    color: red;
}

nav ul, nav li {
    margin: 0;
    padding 0;
    list-style: none;
    float: left;
    color: white;
   
}

nav {
    background-color: #003CB3;
}

.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}